/* styling for register page */

.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

/* End of style for register page */


/* $form-floating-height:                  add(3.5rem, $input-height-border);
$form-floating-line-height:             1.25;
$form-floating-padding-x:               $input-padding-x;
$form-floating-padding-y:               1rem;
$form-floating-input-padding-t:         1.625rem;
$form-floating-input-padding-b:         .625rem;
$form-floating-label-height:            1.5em;
$form-floating-label-opacity:           .65;
$form-floating-label-transform:         scale(.85) translateY(-.5rem) translateX(.15rem);
$form-floating-label-disabled-color:    $gray-600;





/* styling for category */


.single {
  padding: 30px 15px;
  margin-top: 40px;
  background: #fcfcfc;
  border: 1px solid #f0f0f0; }
  .single h3.side-title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 20px;
  color: #333;
  text-transform: uppercase; }
  .single h3.side-title:after {
  content: '';
  width: 60px;
  height: 1px;
  background: #ff173c;
  display: block;
  margin-top: 6px; }
  
  .single ul {
  margin-bottom: 0; }
  .single li a {
  color: #666;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid #f0f0f0;
  line-height: 40px;
  display: block;
  text-decoration: none; }
  .single li a:hover {
  color: #ff173c; }
  .single li:last-child a {
  border-bottom: 0; }

  /* fieldset of create.html */

  fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
}

/* slider */
.slick-slide {
  margin: 0px 20px;
  }
  
  .slick-slide img {
  width: 100%;
  }
  
  .slick-slider
  {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  }
  .slick-list:focus
  {
  outline: none;
  }
  .slick-list.dragging
  {
  cursor: pointer;
  cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
  display: table;
  content: '';
  }
  .slick-track:after
  {
  clear: both;
  }
  .slick-loading .slick-track
  {
  visibility: hidden;
  }
  
  .slick-slide
  {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
  float: right;
  }
  .slick-slide img
  {
  display: block;
  }
  .slick-slide.slick-loading img
  {
  display: none;
  }
  .slick-slide.dragging img
  {
  pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
  display: block;
  }
  .slick-loading .slick-slide
  {
  visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
  display: block;
  height: auto;
  border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
  display: none;
  }
  

  /* End slider */

/* Cards Effects and Silder Css*/


      /* Ensure image size consistency */
      .card-img-top {
        height: 250px !important; /* Fixed height for all images */
        object-fit: contain !important; /* Ensures images cover the area without distortion */
        width:90% !important;
      }

      /* Ensures cards stretch to the same height */
      .card-body {
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important;
      }

      .col {
        display: flex !important;
        justify-content: center !important;
      }

      /* Fix button alignment and stretching */
      .card-footer {
        display: flex !important;
        justify-content: center !important;
        align-items: flex-end !important;
      }
      #inputQuantity::-webkit-inner-spin-button,
      #inputQuantity::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
        margin: 0 !important;
      }
    
      #inputQuantity {
        -moz-appearance: textfield !important;
        appearance: textfield !important;
      }
      .carousel-inner img {
        height: 300px !important; /* Set the desired height */
        object-fit: cover; /* Prevent image distortion */
    }
    .hover-zoom {
      transition: transform 0.3s ease-in-out; /* Smooth transition for scaling */
    }
    
    .hover-zoom:hover {
      transform: scale(1.05); /* Slight zoom effect */
      box-shadow: 0 8px 20px 20px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for emphasis */
    }