{% extends "base.html" %}
{% block content %}

{% include "nav.html" %}

  

{% for i in pro %}
<div class="container d-flex justify-content-center">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ i.products.image.url }}" class="img-fluid rounded-start" alt="..."   >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ i.products.name }}</h5>
          <p class="card-text">{{ i.products.description|truncatewords:30 }}</p>
                        <div class="fs-5 mb-3">
                            {% comment %} <span class="text-decoration-line-through">{{ id_product.prize }}</span> {% endcomment %}
                            <span>₹ {{ i.products.price }} </span>
                        </div>
                        <div class="fs-5 mb-3">
                            {% comment %} <span class="text-decoration-line-through">{{ id_product.prize }}</span> {% endcomment %}
                            <span>Quantity: {{ i.quantity }} </span>
                        </div>
                        <a href="{% url 'delete' i.id %}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="col-xl-4 container ">
            <div class="mt-5 mt-lg-0 border border-dark mb-5">
                <div class="card border shadow-none">
                    <div class="card-header bg-transparent border-bottom py-3 px-4">
                        <h5 class="font-size-16 mb-0">Order Summary </h5>
                    </div>
                    <div class="card-body p-4 pt-2">

                        <div class="table-responsive">
                            <table class="table mb-0">
                                <tbody>
                                    <tr>
                                        <td>Sub Total :</td>
                                        <td class="text-end">₹ {{ sub_total }}</td>
                                    </tr>
                                    <tr>
                                        <td>Discount : </td>
                                        <td class="text-end">- ₹ {{ discount_price }}</td>
                                    </tr>
                                     <tr>
                                        <td>Shipping Charge :</td>
                                        <td class="text-end">Free</td>
                                    </tr>
                                    {% comment %} <tr>
                                        <td>Estimated Tax : </td>
                                        <td class="text-end">₹ 18.20</td>
                                    </tr>  {% endcomment %}
                                    <tr class="bg-light">
                                        <th>Total :</th>
                                        <td class="text-end">
                                            <span class="fw-bold">
                                                ₹ {{ final_price }}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                    {% if sub_total %}

                        <button id="pay-btn">pay</button>

                    {% endif %}
                </div>
            </div>
        </div>
        
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
    var options = {
       
      // Enter the Key ID generated from the Dashboard
      key: "{{ context.razorpay_merchant_key }}", 
       
      // Amount is in currency subunits.
      // Default currency is INR. Hence, 
      // 50000 refers to 50000 paise
      amount: "{{ context.razorpay_amount }}", 
      currency: "{{ context.currency }}",
       
      // Your/store name.
      name: "Dj Razorpay", 
       
      // Pass the `id` obtained in the response of Step 1
      order_id: "{{ context.razorpay_order_id }}", 
      callback_url: "{{ context.callback_url }}",
    };
     
    // initialise razorpay with the options.
    var rzp1 = new Razorpay(options);
     
    // add event listener to the payment button.
    document.getElementById("pay-btn").onclick = function (e) {
      rzp1.open();
      e.preventDefault();
    };
  </script>


{% endblock %}