{% extends "base.html" %} {% block content %} {% include "nav.html" %}

<header class="mt-4 bg-dark">
  <div id="carouselExampleIndicators" class="carousel slide">
    <!-- Dots -->
    <div class="carousel-indicators bg-dark mb-0">
      {% for j in products %}
      <div class="dot" data-bs-target="#carouselExampleIndicators"></div>
      {% endfor %}
    </div>
  
    <!-- Slides -->
    <div class="carousel-inner">
      {% for i in products %}
      <div class="mySlides carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <img
            src="{{ i.image.url }}"
            alt="..."
            class="m-2"
            loading="lazy"
          />
        </div>
      </div>
      {% endfor %}
    </div>
  
    <!-- Next and Previous Buttons -->
    <button class="carousel-control-prev" onclick="changeSlide(-1)">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" onclick="changeSlide(1)">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</header>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="nav-item dropdown d-flex justify-content-end">
      <h3 class="nav-link dropdown-toggle fs-5 text-center col-2" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false" >
        Featured
      </h3>
      <ul
        class="dropdown-menu dropdown-menu-end shadow-lg rounded-3 p-2 text-center"
        aria-labelledby="navbarDropdown"
      >
        <li>
          <a class="dropdown-item py-2" href="{% url 'sort_products' %}?sort=a-z">Sort: A-Z</a>
        </li>
        <li>
          <hr class="dropdown-divider my-1" />
        </li>
        <li>
          <a class="dropdown-item py-2" href="{% url 'sort_products' %}?sort=z-a">Sort: Z-A</a>
        </li>
        <li>
          <hr class="dropdown-divider my-1" />
        </li>
        <li>
          <a class="dropdown-item py-2" href="{% url 'sort_products' %}?sort=low-to-high">Price: Low to High</a>
        </li>
        <li>
          <hr class="dropdown-divider my-1" />
        </li>
        <li>
          <a class="dropdown-item py-2" href="{% url 'sort_products' %}?sort=high-to-low">Price: High to Low</a>
        </li>
      </ul>
    </div>
    <hr class="border border-5 border-secondary">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-lg-4 justify-content-center"
    >
      {% for i in products %}
      <div class="col mb-4">
        <div class="card h-100 border-dark hover-zoom d-flex align-items-center">
          <!-- Product image -->
          <img class="card-img-top mt-2 w-90" src="{{ i.image.url }}" alt="..." loading="lazy">
      
          <!-- Product details -->
          <div class="card-body d-flex flex-column justify-content-between p-3">
            <div class="text-center">
              <h5 class="fw-bolder">{{ i.name }}</h5>
              ₹ {{ i.price }}
            </div>
          </div>
      
          <!-- Product actions -->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center w-100">
              <a class="btn btn-outline-dark mt-auto w-100" href="{% url 'product' i.id %}">View options</a>
            </div>
          </div>
        </div>
      </div>
      
      {% endfor %}
    </div>
  </div>
</section>
<!-- Section End -->
<!-- Footer-->

<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
  </div>
</footer>
<script>
  let slideIndex = 0;
  showSlides();

  function showSlides() {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) { slideIndex = 1 }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
    setTimeout(showSlides, 2000); // Change image every 2 seconds
  }

  function changeSlide(n) {
    slideIndex += n;
    if (slideIndex > document.getElementsByClassName("mySlides").length) {
      slideIndex = 1;
    }
    if (slideIndex < 1) {
      slideIndex = document.getElementsByClassName("mySlides").length;
    }
    showSlideDirectly(slideIndex);
  }

  function showSlideDirectly(index) {
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    for (let i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (let i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[index - 1].style.display = "block";
    dots[index - 1].className += " active";
  }

</script>

{% endblock %}
