{% extends "base.html" %} {% block content %} {% include "nav.html" %}


<section class="container-fluid min-vh-100 d-flex align-items-center justify-content-center flex-column">
    <h1 class="text-center my-4 text-dark">My Profile</h1>
    <div class="card shadow  rounded-4" style="max-width: 700px;">
        <div class="card-body p-4">
            <!-- Registration Form -->
            <form method="POST" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="text-center mb-5">
                    <div class="pb-2">
                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                        <span class="h1 fw-bold mb-0 text-dark">Personal Details</span>
                    </div>
                    <h5 class="fw-normal mb-3 text-secondary" style="letter-spacing: 1px;">You can update your profile below</h5>
                </div>

                <!-- Form Fields -->
                <div class="row g-3">
                    <!-- First Name -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="firstname" class="form-label">First Name</label>
                            <input type="text" class="form-control" required pattern="[a-zA-Z]+" placeholder="{{user.first_name}}" value="{{user.first_name}}" id="firstname" name="firstname" aria-describedby="emailHelp">
                        </div>
                    </div>
                    <!-- Last Name -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="lastname" class="form-label">Last Name</label>
                            <input type="text" class="form-control" required pattern="[a-zA-Z]+" placeholder="{{user.last_name}}" value="{{user.last_name}}" id="lastname" name="lastname"/>
                        </div>
                    </div>
                </div>

                <!-- UserName -->
                <div class="mb-3">
                    <label for="username" class="form-label">User Name</label>
                    <input type="text" class="form-control" required pattern="[a-zA-Z]+" placeholder="{{user.username}}" value="{{user.username}}" id="username" name="username"/>
                </div>

                <!-- Email -->
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" required placeholder="{{user.email}}" value="{{user.email}}" id="email" name="email"/>
                </div>

                <!-- Submit Button -->
                <div class="d-grid my-4">
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

<footer class="py-5 bg-dark mt-4">
    <div class="container">
        <p class="m-0 text-center text-light">Copyright &copy; Your Website 2023</p>
    </div>
</footer>

{% endblock %}