
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="bi bi-house"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <!-- 1st ul starting -->
        <ul class="navbar-nav flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Category
            </a>
            <ul class="dropdown-menu">
              {% for i in categories %}
                <li><a class="dropdown-item" href="{% url 'category' %}?categories={{ i.name }}">{{i.name}}</a></li>
              {% endfor %}
            </ul>
          </li>
            <!-- Admin Panel Link (Visible only for Superuser) -->
            {% if user.is_superuser %}
              <li class="nav-item">
                  <a class="nav-link w-max-content" href="{% url 'admin:index' %}">Admin Panel</a>
              </li>
            {% endif %}
        </ul>
        <!-- 2nd ul starting -->
        <ul class="navbar-nav flex-grow-1 pe-1 justify-content-end">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% if user.is_authenticated %}Welcome , {{user}}{% else %}Welcome ,Visitor{% endif %}
            </a>
            <ul class="dropdown-menu">
              {% if user.is_authenticated %}
              <li>
                <a class="dropdown-item d-flex justify-content-between" href="{% url 'my_profile' %}">
                  <span><i class="bi bi-file-person"></i>My Profile</span><i class="bi bi-arrow-right"></i>
                </a>
              </li>
              <hr>
              <li><a class="dropdown-item d-flex justify-content-between text-danger" href="{% url 'logout' %}"><span>Logout</span><i class="bi bi-arrow-right"></i></a></li>
              {% else %}
                <li><a class="dropdown-item d-flex justify-content-between text-primary" href="{% url 'login' %}"><span>Login</span><i class="bi bi-arrow-right"></i></a></li>
                <hr>
                <li><a class="dropdown-item d-flex justify-content-between text-primary" href="{% url 'register' %}"><span>Register</span><i class="bi bi-arrow-right"></i></a></li>
              {% endif %}
            </ul>
          </li>
            <!-- Admin Panel Link (Visible only for Superuser) -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Theme
              </a>
              <ul class="dropdown-menu w-min-available">
                <li class="dropdown-item" onclick="setTheme('light')"><i class="bi bi-brightness-high-fill"></i>Light</li>
                <hr>
                <li class="dropdown-item" onclick="setTheme('dark')"><i class="bi bi-moon-stars-fill"></i>Dark</li>
              </ul>
            </li>
          <!-- Cart Link -->
          {% if user.is_authenticated %}
          <li class="nav-item me-1 mt-1">
            <a class="btn btn-outline-dark w-max-content" href="{% url 'cart' %}">
              <i class="bi-cart-fill me-1"></i> Cart
              <span class="badge bg-dark text-white ms-1 rounded-pill">{{ counts }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
          <!-- Search Form -->
          <div class="nav-item mt-1">
            <form class="d-flex me-2 needs-validation" novalidate role="search" method="get" action="{% url 'search' %}">
              <input class="form-control me-2 border border-2 border-secondary shadow-none" type="search" placeholder="Search" aria-label="Search" name="search" required/>
              <button class="btn btn-outline-success d-flex" type="submit"><i class="bi bi-search"></i> Search</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</nav>
