{% extends "base.html" %}

{% block content %}
{% include "nav.html" %}
 <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6" >
                        <img class="card-img-top mb-5 mb-md-0" src="{{ products.image.url }}" alt="..." loading="lazy"/>
                    </div>
                    <div class="col-md-6">
                        <h3 class="mb-md-4"><span class="display-6 fw-bolder ">Name :- </span>{{ products.name }}</h3>
                        <div class="fs-5 mb-md-4">
                            <span>Prize :- ₹ {{ products.price }} </span>
                        </div>
                        <p class="lead"><span class="fw-bolder">Description :- </span>{{ products.description }}</p>
                            <div>
                                <a href="{% url 'add' products.id %}" class="btn btn-outline-success w-100">
                                    Add to cart
                                </a>
                            </div>
                    </div>
                </div>
            </div>
 </section>
 <!-- Related Products Section-->
         <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Related products</h2>
                <hr class="border border-dark mb-lg-5">     

                <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for j in product %}
                
                    <div class="col mb-5">
                        <div class="card h-100 border hover-zoom d-flex align-items-center shadow cards border-dark">
                            <!-- Product image-->
                            <img class="card-img-top mt-2" src="{{ j.image.url }}" alt="..." loading="lazy"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ j.name }}</h5>
                                    <!-- Product price-->
                                    ₹  {{ j.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' j.id %}">
                                    View options</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                {% endfor %}

                </div>


                   
        </section> 
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>



{% endblock %}